<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="__STATIC__/index/css/table.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/index/js/table.js"></script>  
</head>

<body id="index">
<h1>表格填写系统</h1>
<ul id="globalNav">
	<!--<li><a>国家奖学金登记表</a>
		<ul>
			<li><a href="index/Countryscholarship/page" target="frameBord">国家奖学金申请审批表</a></li>
			<li><a href="index/Countryencscholarship/page"target="frameBord">国家励志奖学金申请审批表</a></li>
			<li><a href="index/Countrygrants/page"target="frameBord">国家助学金申请审批表</a></li>
		</ul>
	</li>
	<li><a>学院登记表</a>
		<ul>
			<li><a href="index/Wyumeritstudent/page" target="frameBord">五邑大学优秀三好学生登记表</a></li>
			<li><a href="index/Wyucadre/page" target="frameBord">五邑大学优秀学生干部登记表</a></li>
			<li><a href="index/Wyuadvancedclass/page" target="frameBord">先进班集体登记表</a></li>
		</ul>
	</li>-->
	<li><a>经济困难学生认定申请表</a>
		<ul>
			<li><a href="index/Poverty/page" target="frameBord">广东省家庭经济困难学生认定申请表</a></li>
			<li><a href="index/Povertysl/page" target="frameBord">五邑大学家庭经济困难学生认定分析表</a></li>
		</ul>
	</li>	
	<li><a>设置</a>
		<ul>
			<li><a href="index/Login/changepwd" target="frameBord">修改密码</a></li>
			<li><a href="index/Login/login_out" target="frameBord">退出登录</a></li>
		</ul>
	</li>	
	
</ul>
<iframe id="frameBord" name="frameBord" frameborder="0" width="100%" height="100%" src="index/Login/login"></iframe>
</body>
</html>
