<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="__STATIC__/index/css/table.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/index/js/table.js"></script>  
<title>广东省家庭经济困难学生认定申请表</title>
</head>
<body id="page">
<h2>学生基本情况</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>学校</th>
    <td>{$poverty.xuexiao}</td>
  </tr>
  <tr>
    <th>年级</th>
    <td>{$poverty.nianji}</td>
  </tr>
  <tr>
    <th>班别（专业）</th>
    <td>{$poverty.banbie}</td>
  </tr>
  <tr>
    <th>院（系）</th>
    <td>{$poverty.yuanxi}</td>
  </tr>
  <tr>
    <th>宿舍</th>
    <td>{$poverty.sushe}</td>
  </tr>
  <tr>
    <th>学（籍）号</th>
    <td>{$poverty.xuejihao}</td>
  </tr>
   <tr>
    <th>姓名</th>
    <td>{$poverty.xingming}</td>
  </tr>
  <tr>
    <th>性别</th>
    <td>{$poverty.xingbie}</td>
  </tr>
  <tr>
    <th>民族</th>
    <td>{$poverty.minzu}</td>
  </tr>
  <tr>
    <th>出生年月</th>
    <td>{$poverty.csny}</td>
  </tr>
  <tr>
    <th>身份证号</th>
    <td>{$poverty.sfzh}</td>
  </tr>
   <tr>
    <th>户口（转入学校户口的学生填写入学前户口）</th>
    <td>{$poverty.hukou}</td>
  </tr>
     <tr>
    <th>家庭人口数</th>
    <td>{$poverty.jtrks}</td>
  </tr>
     <tr>
    <th>家庭成员在学人数</th>
    <td>{$poverty.zxrs}</td>
  </tr>
     <tr>
    <th>建档立卡户</th>
    <td>{$poverty.jdlkh}</td>
  </tr>   
     <tr>
    <th>特困供养人员</th>
    <td>{$poverty.gyry}</td>
  </tr>
     <tr>
    <th>城乡最低生活保障户</th>
    <td>{$poverty.shbzh}</td>
  </tr>
     <tr>
    <th>特困职工子女</th>
    <td>{$poverty.zgzn}</td>
  </tr>
   <tr>
    <th>城镇低收入困难家庭</th>
    <td>{$poverty.knjt}</td>
  </tr>
     <tr>
    <th>孤儿</th>
    <td>{$poverty.guer}</td>
  </tr>
     <tr>
    <th>父母一方抚养</th>
    <td>{$poverty.yffy}</td>
  </tr>
     <tr>
    <th>烈士子女、因公牺牲军人警察子女</th>
    <td>{$poverty.lszn}</td>
  </tr>
     <tr>
    <th>残疾</th>
    <td>{$poverty.canji}</td>
  </tr>
     <tr>
    <th>患重大疾病</th>
    <td>{$poverty.hzdjb}</td>
  </tr>
     <tr>
    <th>残疾类别</th>
    <td>{$poverty.cjlb}:{$poverty.cjlbtext}</td>
  </tr>
     <tr>
    <th>残疾等级</th>
    <td>{$poverty.cjdj}</td>
  </tr>
  </table>

  <h2>家庭信息</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>户籍地址</th>
    <td>{$poverty.hjdz}</td>
  </tr>
  <tr>
    <th>邮政编码</th>
    <td>{$poverty.yzbm}</td>
  </tr>
  <tr>
    <th>联系电话</th>
    <td>{$poverty.lzdh}</td>
  </tr>
  <tr>
    <th>家庭人均年收入（人民币元）</th>
    <td>{$poverty.rjnsr}</td>
  </tr>
    <tr>
    <th>住房情况</th>
    <td>{$poverty.zfjq}:{$poverty.zfjqtext}</td>
  </tr>
    <tr>
    <th>购车情况</th>
    <td>{$poverty.gcqk}</td>
  </tr>
</table>

<h2>家庭成员情况（直系亲属，含祖父母）</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>家人姓名</th>
    <th>年龄</th>
    <th>与学生关系</th>
    <th>工作（学习）单位</th>
    <th>联系电话</th>
    <th>从业情况</th>
    <th>文化程度</th>
    <th>年收入（元）</th>
    <th>健康状况</th>
  </tr>
  <tr>
    <td>{$poverty.jrxm1}</td>
    <td>{$poverty.nianling1}</td>
    <td>{$poverty.yxsgx1}</td>
    <td>{$poverty.gzdw1}</td>
    <td>{$poverty.lxdh1}</td>
    <td>{$poverty.cyqk1}</td>
  <td>{$poverty.whcd1}</td>
    <td>{$poverty.nianshouru1}</td>
    <td>{$poverty.jkzk1}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm2}</td>
    <td>{$poverty.nianling2}</td>
    <td>{$poverty.yxsgx2}</td>
    <td>{$poverty.gzdw2}</td>
    <td>{$poverty.lxdh2}</td>
    <td>{$poverty.cyqk2}</td>
  <td>{$poverty.whcd2}</td>
    <td>{$poverty.nianshouru2}</td>
    <td>{$poverty.jkzk2}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm3}</td>
    <td>{$poverty.nianling3}</td>
    <td>{$poverty.yxsgx3}</td>
    <td>{$poverty.gzdw3}</td>
    <td>{$poverty.lxdh3}</td>
    <td>{$poverty.cyqk3}</td>
  <td>{$poverty.whcd3}</td>
    <td>{$poverty.nianshouru3}</td>
    <td>{$poverty.jkzk3}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm4}</td>
    <td>{$poverty.nianling4}</td>
    <td>{$poverty.yxsgx4}</td>
    <td>{$poverty.gzdw4}</td>
    <td>{$poverty.lxdh4}</td>
    <td>{$poverty.cyqk4}</td>
  <td>{$poverty.whcd4}</td>
    <td>{$poverty.nianshouru4}</td>
    <td>{$poverty.jkzk4}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm5}</td>
    <td>{$poverty.nianling5}</td>
    <td>{$poverty.yxsgx5}</td>
    <td>{$poverty.gzdw5}</td>
    <td>{$poverty.lxdh5}</td>
    <td>{$poverty.cyqk5}</td>
  <td>{$poverty.whcd5}</td>
    <td>{$poverty.nianshouru5}</td>
    <td>{$poverty.jkzk5}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm6}</td>
    <td>{$poverty.nianling6}</td>
    <td>{$poverty.yxsgx6}</td>
    <td>{$poverty.gzdw6}</td>
    <td>{$poverty.lxdh6}</td>
    <td>{$poverty.cyqk6}</td>
  <td>{$poverty.whcd6}</td>
    <td>{$poverty.nianshouru6}</td>
    <td>{$poverty.jkzk6}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm7}</td>
    <td>{$poverty.nianling7}</td>
    <td>{$poverty.yxsgx7}</td>
    <td>{$poverty.gzdw7}</td>
    <td>{$poverty.lxdh7}</td>
    <td>{$poverty.cyqk7}</td>
  <td>{$poverty.whcd7}</td>
    <td>{$poverty.nianshouru7}</td>
    <td>{$poverty.jkzk7}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm8}</td>
    <td>{$poverty.nianling8}</td>
    <td>{$poverty.yxsgx8}</td>
    <td>{$poverty.gzdw8}</td>
    <td>{$poverty.lxdh8}</td>
    <td>{$poverty.cyqk8}</td>
  <td>{$poverty.whcd8}</td>
    <td>{$poverty.nianshouru8}</td>
    <td>{$poverty.jkzk8}</td>
  </tr>
  <tr>
    <td>{$poverty.jrxm9}</td>
    <td>{$poverty.nianling9}</td>
    <td>{$poverty.yxsgx9}</td>
    <td>{$poverty.gzdw9}</td>
    <td>{$poverty.lxdh9}</td>
    <td>{$poverty.cyqk9}</td>
  <td>{$poverty.whcd9}</td>
    <td>{$poverty.nianshouru9}</td>
    <td>{$poverty.jkzk9}</td>
  </tr>
    <tr>
    <td>{$poverty.jrxm10}</td>
    <td>{$poverty.nianling10}</td>
    <td>{$poverty.yxsgx10}</td>
    <td>{$poverty.gzdw10}</td>
    <td>{$poverty.lxdh10}</td>
    <td>{$poverty.cyqk10}</td>
  <td>{$poverty.whcd10}</td>
    <td>{$poverty.nianshouru10}</td>
    <td>{$poverty.jkzk10}</td>
  </tr>
</table>

 <h2>影响家庭经济状况有关信息</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>家庭主要收入来源类型</th>
    <td>{$poverty.srlylx}</td>
  </tr>
      <tr>
    <th>学生已获资助情况</th>
    <td>{$poverty.yhzzlx}</td>
  </tr>
      <tr>
    <th>家庭遭受自然灾害情况</th>
    <td>{$poverty.zrzhqk}</td>
  </tr>
      <tr>
    <th>家庭遭受突发意外事件</th>
    <td>{$poverty.tfywsj}</td>
  </tr>
      <tr>
    <th>家庭欠债情况</th>
    <td>{$poverty.jtqzqk}</td>
  </tr>
      <tr>
    <th>其他情况</th>
    <td>{$poverty.qtqk}</td>
  </tr>

</table>

  <h2>申请理由</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>详细通讯地址</th>
    <td>{$poverty.xztxdz}</td>
  </tr>
    <tr>
    <th>邮政编码</th>
    <td>{$poverty.xzyzbm}</td>
  </tr>
    <tr>
    <th>联系电话</th>
    <td>{$poverty.xzlxdh}</td>
  </tr>
</table>

<div id="activity" align = "center">
        <button onclick="window.location='change'">修改</button>
        <button onclick="window.location='printword'">打印</button>
</div>
</body>
</html>
