<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="__STATIC__/index/css/table.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/index/js/table.js"></script>  
<title>先进班集体推荐表</title>
</head>
<body id="page">
<h2>基本情况</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>学院</th>
    <td>{$wyuadvancedclass.xueyuan}</td>
  </tr>
  <tr>
    <th>时间（例2017-09-01）</th>
    <td>{$wyuadvancedclass.years}-{$wyuadvancedclass.months}-{$wyuadvancedclass.days}</td>
  </tr>
  <tr>
    <th>班级（简称）</th>
    <td>{$wyuadvancedclass.banji}</td>
  </tr>
  <tr>
    <th>人数</th>
    <td>{$wyuadvancedclass.renshu}</td>
  </tr>
  <tr>
    <th>班长姓名</th>
    <td>{$wyuadvancedclass.bzxm}</td>
  </tr>
  <tr>
    <th>班导师姓名</th>
    <td>{$wyuadvancedclass.bdsxm}</td>
  </tr>
  <tr>
    <th>班级联系电话</th>
    <td>{$wyuadvancedclass.lxdh}</td>
  </tr>
  <tr>
    <th>主要先进事迹简介</th>
    <td>{$wyuadvancedclass.xjsj}</td>
  </tr>
</table>
<div id="activity" align = "center">
        <button onclick="window.location='change'">修改</button>
        <button onclick="window.location='printword'">打印</button>
</div>
</body>
</html>
