<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="__STATIC__/index/css/table.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/index/js/table.js"></script>  
<title>本专科生国家励志奖学金申请审批表</title>
</head>
<body id="page">
<h2>基本情况</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>学校</th>
    <td>{$countryencscholarship.xuexiao}</td>
  </tr>
  <tr>
    <th>院系</th>
    <td>{$countryencscholarship.yuanxi}</td>
  </tr>
  <tr>
    <th>专业</th>
    <td>{$countryencscholarship.zhuanye}</td>
  </tr>
  <tr>
    <th>姓名</th>
    <td>{$countryencscholarship.xingming}</td>
  </tr>
  <tr>
    <th>性别</th>
    <td>{$countryencscholarship.xingbie}</td>
  </tr>
  <tr>
    <th>出生年月</th>
    <td>{$countryencscholarship.csny}</td>
  </tr>
   <tr>
    <th>民族</th>
    <td>{$countryencscholarship.minzu}</td>
  </tr>
  <tr>
    <th>政治面貌</th>
    <td>{$countryencscholarship.zzmm}</td>
  </tr>
  <tr>
    <th>联系电话</th>
    <td>{$countryencscholarship.lxdh}</td>
  </tr>
  <tr>
    <th>入学时间</th>
    <td>{$countryencscholarship.rxsj}</td>
  </tr>
  <tr>
    <th>班级</th>
    <td>{$countryencscholarship.banji}</td>
  </tr>
  <tr>
    <th>学号</th>
    <td>{$countryencscholarship.xuehao}</td>
  </tr>
   <tr>
    <th>身份证号</th>
    <td>{$countryencscholarship.sfzh}</td>
  </tr>
   <tr>
    <th>经学校认定的经济困难程度</th>
    <td>{$countryencscholarship.kncd}</td>
  </tr>
  </table>

  <h2>家庭情况</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>家庭人口总数</th>
    <td>{$countryencscholarship.rkzs}</td>
  </tr>
  <tr>
    <th>家庭人均月收入（元）</th>
    <td>{$countryencscholarship.yueshouru}</td>
  </tr>
  <tr>
    <th>家庭住址</th>
    <td>{$countryencscholarship.jtzz}</td>
  </tr>
  <tr>
    <th>邮政编码</th>
    <td>{$countryencscholarship.yzbm}</td>
  </tr>
</table>

<h2>综合测评情况</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>总人数</th>
    <td>{$countryencscholarship.zongrenshu}</td>
  </tr>
  <tr>
    <th>学习成绩排名</th>
    <td>{$countryencscholarship.cjpm}</td>
  </tr>
  <tr>
    <th>综合考评排名</th>
    <td>{$countryencscholarship.kppm}</td>
  </tr>
  <tr>
    <th>上述采用的排名排序为（只可选一种）</th>
    <td>{$countryencscholarship.pmpx}</td>
  </tr>
</table>

 <h2>获奖情况</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>获奖时间</th>
    <th>奖项名称</th>
    <th>颁奖单位</th>
  </tr>
  <tr>
    <td>{$countryencscholarship.hjsj1}</td>
    <td>{$countryencscholarship.jxmc1}</td>
    <td>{$countryencscholarship.bjdw1}</td>
  </tr>
  <tr>
    <td>{$countryencscholarship.hjsj2}</td>
    <td>{$countryencscholarship.jxmc2}</td>
    <td>{$countryencscholarship.bjdw2}</td>
  </tr>
  <tr>
    <td>{$countryencscholarship.hjsj3}</td>
    <td>{$countryencscholarship.jxmc3}</td>
    <td>{$countryencscholarship.bjdw3}</td>
  </tr>
  <tr>
    <td>其中，院级奖励{$countryencscholarship.yjjl}项；</td>
     <td> 校级奖励{$countryencscholarship.xjjl}项；</td>
     <td> 校级以上奖励{$countryencscholarship.xjysjl}项</td>
  </tr>  
</table>

  <h2>申请理由</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>申请理由</th>
    <td>{$countryencscholarship.sqly}</td>
  </tr>
</table>

<div id="activity" align = "center">
        <button onclick="window.location='change'">修改</button>
        <button onclick="window.location='printword'">打印</button>
</div>
</body>
</html>
