<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="__STATIC__/index/css/table.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/index/js/table.js"></script>  
<title>五邑大学家庭经济困难学生认定分析表</title>
</head>
<body id="page">
<h2>五邑大学家庭经济困难学生认定分析表</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>家庭情况</th>
    <td>类别</td>
    <th>证明材料（学校核实）</th>
    <td>证明材料复印件（学校存档备查）</td>
    <th>是否符合</th>
    <td>是否提供证明材料审核</td>
    <th>是否提供证明材料复印件存档</th>
    <td>备注</td>
  </tr>
  <tr>
    <th>建档立卡户 </th>
    <td>A</td>
    <th>扶贫帮扶手册、户口簿、相关证明</th>
    <td>扶贫帮扶手册、户口簿、相关证明</td>
    <th>{$povertysl.jdlkhfh}</th>
    <td>{$povertysl.jdlkhsh}</td>
    <th>{$povertysl.jdlkhcd}</th>
    <td>{$povertysl.jdlkhbz}</td>
  </tr>
    <tr>
    <th>特困供养人员   </th>
    <td>A</td>
    <th>五保证、特困人员救助供养证、户口簿</th>
    <td>五保证、特困人员救助供养证、户口簿</td>
    <th>{$povertysl.tkgyryfh}</th>
    <td>{$povertysl.tkgyrysh}</td>
    <th>{$povertysl.tkgyrycd}</th>
    <td>{$povertysl.tkgyrybz}</td>
  </tr>
    <tr>
    <th>孤儿 </th>
    <td>A</td>
    <th>儿童福利证、孤儿证明</th>
    <td>儿童福利证、孤儿证明</td>
    <th>{$povertysl.guerfh}</th>
    <td>{$povertysl.guersh}</td>
    <th>{$povertysl.guercd}</th>
    <td>{$povertysl.guerbz}</td>
  </tr>
    <tr>
    <th>城乡最低生活保障户 </th>
    <td>A</td>
    <th>低保证、户口簿</th>
    <td>低保证、户口簿</td>
    <th>{$povertysl.cszdshbzhfh}</th>
    <td>{$povertysl.cszdshbzhsh}</td>
    <th>{$povertysl.cszdshbzhcd}</th>
    <td>{$povertysl.cszdshbzhbz}</td>
  </tr>
    <tr>
    <th>特困职工子女 </th>
    <td>A</td>
    <th>特困职工证、户口簿</th>
    <td>特困职工证、户口簿</td>
    <th>{$povertysl.tkzgznfh}</th>
    <td>{$povertysl.tkzgznsh}</td>
    <th>{$povertysl.tkzgzncd}</th>
    <td>{$povertysl.tkzgznbz}</td>
  </tr>
    <tr>
    <th>城镇低收入困难家庭 </th>
    <td>A</td>
    <th>救助证、低收入证、户口簿</th>
    <td>救助证、低收入证、户口簿</td>
    <th>{$povertysl.czdsrknjtfh}</th>
    <td>{$povertysl.czdsrknjtsh}</td>
    <th>{$povertysl.czdsrknjtcd}</th>
    <td>{$povertysl.czdsrknjtbz}</td>
  </tr>
    <tr>
    <th>享受国家定期抚恤补助的优抚对象（含烈士、牺牲军人亲属）、因公牺牲警察子女 </th>
    <td>A</td>
    <th>优抚对象证明、因公牺牲警察证明、户口簿</th>
    <td>优抚对象证明、因公牺牲警察证明、户口簿</td>
    <th>{$povertysl.yfdxfh}</th>
    <td>{$povertysl.yfdxsh}</td>
    <th>{$povertysl.yfdxcd}</th>
    <td>{$povertysl.yfdxbz}</td>
  </tr>
    <tr>
    <th>一年内家庭遭受重大自然灾害，受灾严重（一年内） </th>
    <td>A</td>
    <th>民政等部门相关证明</th>
    <td>民政等部门相关证明</td>
    <th>{$povertysl.ynzdzrzhfh}</th>
    <td>{$povertysl.ynzdzrzhsh}</td>
    <th>{$povertysl.ynzdzrzhcd}</th>
    <td>{$povertysl.ynzdzrzhbz}</td>
  </tr>
    <tr>
    <th>一年内家庭遭重大突发意外事件（不含自然灾害）（一年内） </th>
    <td>A</td>
    <th>相关证明</th>
    <td>相关证明</td>
    <th>{$povertysl.yntuywsjfh}</th>
    <td>{$povertysl.yntuywsjsh}</td>
    <th>{$povertysl.yntuywsjcd}</th>
    <td>{$povertysl.yntuywsjbz}</td>
  </tr>
    <tr>
    <th>残疾学生 </th>
    <td>A</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.cjxsfh}</th>
    <td>{$povertysl.cjxssh}</td>
    <th>{$povertysl.cjxscd}</th>
    <td>{$povertysl.cjxsbz}</td>
  </tr>
    <tr>
    <th>父母均患重大疾病(不含残疾） </th>
    <td>A</td>
    <th>相关证明、户口簿</th>
    <td>相关证明、户口簿</td>
    <th>{$povertysl.fmjhzdjbfh}</th>
    <td>{$povertysl.fmjhzdjbsh}</td>
    <th>{$povertysl.fmjhzdjbcd}</th>
    <td>{$povertysl.fmjhzdjbbz}</td>
  </tr>
    <tr>
    <th>父母一方患重大疾病（不含残疾） </th>
    <td>D</td>
    <th>相关证明、户口簿</th>
    <td>相关证明、户口簿</td>
    <th>{$povertysl.fmyfhzdjbfh}</th>
    <td>{$povertysl.fmyfhzdjbsh}</td>
    <th>{$povertysl.fmyfhzdjbcd}</th>
    <td>{$povertysl.fmyfhzdjbbz}</td>
  </tr>
    <tr>
    <th>其他家庭成员（含学生本人）患重大疾病（不含残疾） </th>
    <td>E</td>
    <th>相关证明、户口簿</th>
    <td>相关证明、户口簿</td>
    <th>{$povertysl.qtjtcyhzdjbfh} </th>
    <td>{$povertysl.qtjtcyhzdjbsh}</td>
    <th>{$povertysl.qtjtcyhzdjbcd}</th>
    <td>{$povertysl.qtjtcyhzdjbbz}</td>
  </tr>
    <tr>
    <th>家庭遭受重大自然灾害，受灾严重（一年以上两年以内） </th>
    <td>B</td>
    <th>民政等部门相关证明</th>
    <td>民政等部门相关证明</td>
    <th>{$povertysl.lnzdzrzhfh}</th>
    <td>{$povertysl.lnzdzrzhsh}</td>
    <th>{$povertysl.lnzdzrzhcd}</th>
    <td>{$povertysl.lnzdzrzhbz}</td>
  </tr>
    <tr>
    <th>家庭遭重大突发意外事件（不含自然灾害）（一年以上两年以内） </th>
    <td>B</td>
    <th>相关证明</th>
    <td>相关证明</td>
    <th>{$povertysl.lnzdtfsjfh}</th>
    <td>{$povertysl.lnzdtfsjsh}</td>
    <th>{$povertysl.lnzdtfsjcd}</th>
    <td>{$povertysl.lnzdtfsjbz}</td>
  </tr>
    <tr>
    <th>父亲为残疾人（一级残疾） </th>
    <td>C</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.fqyjcjfh}</th>
    <td>{$povertysl.fqyjcjsh}</td>
    <th>{$povertysl.fqyjcjcd}</th>
    <td>{$povertysl.fqyjcjbz}</td>
  </tr>
    <tr>
    <th>父亲为残疾人（二级残疾） </th>
    <td>F</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.fqejcjfh}</th>
    <td>{$povertysl.fqejcjsh}</td>
    <th>{$povertysl.fqejcjcd}</th>
    <td>{$povertysl.fqejcjbz}</td>
  </tr>
    <tr>
    <th>父亲为残疾人（三级残疾） </th>
    <td>G</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.fqxjcjfh}</th>
    <td>{$povertysl.fqxjcjsh}</td>
    <th>{$povertysl.fqxjcjcd}</th>
    <td>{$povertysl.fqxjcjbz}</td>
  </tr>
    <tr>
    <th>父亲为残疾人（四级残疾） </th>
    <td>G</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.fqsjcjfh}</th>
    <td>{$povertysl.fqsjcjsh}</td>
    <th>{$povertysl.fqsjcjcd}</th>
    <td>{$povertysl.fqsjcjbz}</td>
  </tr>
    <tr>
    <th>母亲为残疾人（一级残疾） </th>
    <td>C</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.mqyjcjfh}</th>
    <td>{$povertysl.mqyjcjsh}</td>
    <th>{$povertysl.mqyjcjcd}</th>
    <td>{$povertysl.mqyjcjbz}</td>
  </tr>
    <tr>
    <th>母亲为残疾人（二级残疾） </th>
    <td>F</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.mqejcjfh}</th>
    <td>{$povertysl.mqejcjsh}</td>
    <th>{$povertysl.mqejcjcd}</th>
    <td>{$povertysl.mqejcjbz}</td>
  </tr>
    <tr>
    <th>母亲为残疾人（三级残疾） </th>
    <td>G</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.mqxjcjfh}</th>
    <td>{$povertysl.mqxjcjsh}</td>
    <th>{$povertysl.mqxjcjcd}</th>
    <td>{$povertysl.mqxjcjbz}</td>
  </tr>
    <tr>
    <th>母亲为残疾人（四级残疾） </th>
    <td>G</td>
    <th>残疾人证、户口簿</th>
    <td>残疾人证、户口簿</td>
    <th>{$povertysl.mqsjcjfh}</th>
    <td>{$povertysl.mqsjcjsh}</td>
    <th>{$povertysl.mqsjcjcd}</th>
    <td>{$povertysl.mqsjcjbz}</td>
  </tr>
    <tr>
    <th>父母均没有工作（不含农村种植户或养殖户） </th>
    <td>D</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.fmjmygzfh}</th>
    <td>{$povertysl.fmjmygzsh}</td>
    <th>{$povertysl.fmjmygzcd}</th>
    <td>{$povertysl.fmjmygzbz}</td>
  </tr>
    <tr>
    <th>父母一方没有工作（不含农村种植户或养殖户） </th>
    <td>F</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.fmyfmygzfh}</th>
    <td>{$povertysl.fmyfmygzsh}</td>
    <th>{$povertysl.fmyfmygzcd}</th>
    <td>{$povertysl.fmyfmygzbz}</td>
  </tr>
    <tr>
    <th>农村个体小型种植户或个体小型养殖户（或两） </th>
    <td>G</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.ncgtxxzzhfh}</th>
    <td>{$povertysl.ncgtxxzzhsh}</td>
    <th>{$povertysl.ncgtxxzzhcd}</th>
    <td>{$povertysl.ncgtxxzzhbz}</td>
  </tr>
    <tr>
    <th>父母一方抚养 </th>
    <td>F</td>
    <th>相关证明户口簿</th>
    <td>相关证明户口簿</td>
    <th>{$povertysl.fmyffyfh}</th>
    <td>{$povertysl.fmyffysh}</td>
    <th>{$povertysl.fmyffycd}</th>
    <td>{$povertysl.fmyffybz}</td>
  </tr>
    <tr>
    <th>家庭在学人数（2人（含本人）以上在上学） </th>
    <td>F</td>
    <th>户口簿、学生证</th>
    <td>户口簿、学生证</td>
    <th>{$povertysl.jtzxrsfh}</th>
    <td>{$povertysl.jtzxrssh}</td>
    <th>{$povertysl.jtzxrscd}</th>
    <td>{$povertysl.jtzxrsbz}</td>
  </tr>
    <tr>
    <th>父母年龄（父母均为60周岁以上（含60周岁）） </th>
    <td>F</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.fmjwlssysfh}</th>
    <td>{$povertysl.fmjwlssyssh}</td>
    <th>{$povertysl.fmjwlssyscd}</th>
    <td>{$povertysl.fmjwlssysbz}</td>
  </tr>
    <tr>
    <th>父母年龄 （父母一方为60周岁以上（含60周岁））</th>
    <td>F</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.fmyfwlszsysfh}</th>
    <td>{$povertysl.fmyfwlszsyssh}</td>
    <th>{$povertysl.fmyfwlszsyscd}</th>
    <td>{$povertysl.fmyfwlszsysbz}</td>
  </tr>
    <tr>
    <th>赡养老人 （赡养两位以上老人（70周岁以上））</th>
    <td>F</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.sylrysfh}</th>
    <td>{$povertysl.sylryssh}</td>
    <th>{$povertysl.sylryscd}</th>
    <td>{$povertysl.sylrysbz}</td>
  </tr>
    <tr>
    <th>赡养老人 （赡养两位（含两位）及以下老人（70周岁以上）） </th>
    <td>F</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.sylryxfh}</th>
    <td>{$povertysl.sylryxsh}</td>
    <th>{$povertysl.sylryxcd}</th>
    <td>{$povertysl.sylryxbz}</td>
  </tr>
    <tr>
    <th>家庭人均年收入 （就读学校所在地最低生活保障线下）</th>
    <td>F</td>
    <th>相关证明、户口簿</th>
    <td>相关证明、户口簿</td>
    <th>{$povertysl.zdshbzxxfh}</th>
    <td>{$povertysl.zdshbzxxsh}</td>
    <th>{$povertysl.zdshbzxxcd}</th>
    <td>{$povertysl.zdshbzxxbz}</td>
  </tr>
    <tr>
    <th>家庭人均年收入 （就读学校所在地最低生活保障线上2倍以内） </th>
    <td>G</td>
    <th>相关证明、户口簿</th>
    <td>相关证明、户口簿</td>
    <th>{$povertysl.zdshbzxsfh}</th>
    <td>{$povertysl.zdshbzxssh}</td>
    <th>{$povertysl.zdshbzxscd}</th>
    <td>{$povertysl.zdshbzxsbz}</td>
  </tr>
    <tr>
    <th>父母文化（父母均为初中及以下文化程度） </th>
    <td>G</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.fmjwczyxfh}</th>
    <td>{$povertysl.fmjwczyxsh}</td>
    <th>{$povertysl.fmjwczyxcd}</th>
    <td>{$povertysl.fmjwczyxbz}</td>
  </tr>
    <tr>
    <th>父母文化（父母一方为初中及以下文化程度） </th>
    <td>G</td>
    <th>户口簿、相关证明</th>
    <td>户口簿、相关证明</td>
    <th>{$povertysl.fmyfwczyxfh}</th>
    <td>{$povertysl.fmyfwczyxsh}</td>
    <th>{$povertysl.fmyfwczyxcd}</th>
    <td>{$povertysl.fmyfwczyxbz}</td>
  </tr>
    <tr>
    <th>户籍所在地 （国家核定的680个贫困县（区））</th>
    <td>G</td>
    <th>户口簿</th>
    <td>户口簿</td>
    <th>{$povertysl.gjhdpkqfh}</th>
    <td>{$povertysl.gjhdpkqsh}</td>
    <th>{$povertysl.gjhdpkqcd}</th>
    <td>{$povertysl.gjhdpkqbz}</td>
  </tr>
    <tr>
    <th>户籍所在地（680个贫困县以外的革命老区（含中央苏区）） </th>
    <td>G</td>
    <th>户口簿</th>
    <td>户口簿</td>
    <th>{$povertysl.gmlqfh}</th>
    <td>{$povertysl.gmlqsh}</td>
    <th>{$povertysl.gmlqcd}</th>
    <td>{$povertysl.gmlqbz}</td>
  </tr>
    <tr>
    <th>户籍所在地（广东省扶贫开发重点县（不含革命老区）） </th>
    <td>G</td>
    <th>户口簿</th>
    <td>户口簿</td>
    <th>{$povertysl.hjszdfh}</th>
    <td>{$povertysl.hjszdsh}</td>
    <th>{$povertysl.hjszdcd}</th>
    <td>{$povertysl.hjszdbz}</td>
  </tr>
    <tr>
    <th>户籍性质 （农村户籍）</th>
    <td>G</td>
    <th>户口簿</th>
    <td>户口簿</td>
    <th>{$povertysl.hjxzfh}</th>
    <td>{$povertysl.hjxzsh}</td>
    <th>{$povertysl.hjxzcd}</th>
    <td>{$povertysl.hjxzbz}</td>
  </tr>
    <tr>
    <th>民族（少数民族） </th>
    <td>G</td>
    <th>户口簿</th>
    <td>户口簿</td>
    <th>{$povertysl.mzssmzfh}</th>
    <td>{$povertysl.mzssmzsh}</td>
    <th>{$povertysl.mzssmzcd}</th>
    <td>{$povertysl.mzssmzbz}</td>
  </tr>
    <tr>
    <th>学费、住宿费（学费、住宿费在9501元至20000元） </th>
    <td>G</td>
    <th> </th>
    <td> </td>
    <th>{$povertysl.xfzsf1fh}</th>
    <td>{$povertysl.xfzsf1sh}</td>
    <th>{$povertysl.xfzsf1cd}</th>
    <td>{$povertysl.xfzsf1bz}</td>
  </tr>
    <tr>
    <th>学费、住宿费（学费、住宿费在20001元以上（仅对高校学生））</th>
    <td>G</td>
    <th> </th>
    <td> </td>
    <th>{$povertysl.xfzsf2fh}</th>
    <td>{$povertysl.xfzsf2sh}</td>
    <th>{$povertysl.xfzsf2cd}</th>
    <td>{$povertysl.xfzsf2bz}</td>
  </tr>
    <tr>
    <th>家庭资产（无房产无汽车户） </th>
    <td>G</td>
    <th>相关证明、户口簿</th>
    <td>相关证明、户口簿</td>
    <th>{$povertysl.jtzcfh}</th>
    <td>{$povertysl.jtzcsh}</td>
    <th>{$povertysl.jtzccd}</th>
    <td>{$povertysl.jtzcbz}</td>
  </tr>
</table>

<div id="activity" align = "center">
        <button onclick="window.location='change'">修改</button>
        <button onclick="window.location='printexcel'">打印</button>
</div>
</body>
</html>
